[Unit]
Description=LocalSend background file-sharing service
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/flatpak run org.localsend.localsend_app --hidden
ExecStop=-/usr/bin/flatpak kill org.localsend.localsend_app
Restart=on-failure
RestartSec=2

[Install]
WantedBy=hyprland-session.target
